# Dependencies
node_modules

# Temporary files
.tmp
*.tmp
*.temp

# yarn error logs
yarn-error.log
*.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# misc
.DS_Store

# Editor / OS
.vscode
.idea

# Dev db data
db

# TypeScript
build

# Prisma / local tooling
prisma/dev.db
